<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Fadlon Real Estate Office</title>
    <link rel="icon" href="https://cdn5.f-cdn.com/contestentries/1308343/29084380/5ad85717cbaac_thumb900.jpg" type="image/x-icon">
    <link rel="stylesheet" href="~/Content/Style/Layout.css">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Fredoka+One|Righteous&display=swap" rel="stylesheet">
    @RenderSection("scripts", required: false)
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav navbar-static-top">
                <img id="icon" src="~/Content/Resources/Fadlon.png" style="margin-top:10px;margin-right:7px; width:30px; height:30px;">
            </ul>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Fadlon Real Estate</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    <li>@Html.ActionLink("Gallery", "Gallery", "Properties")</li>
                    <li>@Html.ActionLink("Statistics", "Statistics", "Deals")</li>

                    @if (TempData["Role"] != null)
                    {
                        if (TempData["Role"].Equals("Admin"))
                        {
                            <li>@Html.ActionLink("Customers", "Home", "Customers")</li>
                            <li>@Html.ActionLink("Deals", "Home", "Deals")</li>
                            <li>@Html.ActionLink("Properties", "Home", "Properties")</li>
                        }
                        TempData.Keep();
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (TempData["Role"] != null)
                    {
                        <li>@Html.ActionLink("Log out", "Logout", "Home")</li>
                        if (TempData["Role"].ToString().Equals("Admin"))
                        {
                            <li style="margin-top:15px; margin-right:5px;"> @TempData["name"].ToString() </li>
                            <img id="usr" src="~/Content/Resources/Team/Gal.jpeg" style="margin-top:10px; width:30px; height:30px;" class="profile-image img-circle">
                        }
                        else
                        {
                            <li style="margin-top:15px; margin-right:5px;"> @TempData["name"].ToString() </li>
                        }
                        TempData.Keep();
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="footer">
            <footer>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <a href="https://www.facebook.com/Fadlon-Real-Estate-124652649071990" class="fa fa-facebook fa-2x"></a>
                <a href="https://github.com/GRDR-GROUP/FadlonRealEstate" class="fa fa-github fa-2x"></a>
                <a href="https://www.linkedin.com/in/jacobsongal/" class="fa fa-linkedin fa-2x"></a>
                <a href="https://www.instagram.com/jacobsongal/" class="fa fa-instagram fa-2x"></a>
                <a href="https://www.youtube.com/channel/UCsM9MNriY7zHHLYnXNzDg0g?view_as=subscriber" class="fa fa-youtube fa-2x"></a>
                <a href="https://www.google.com/search?q=AMOS+FADLON&oq=AMOS+FADLON&aqs=chrome..69i57.8784j1j7&sourceid=chrome&ie=UTF-8" class="fa fa-google fa-2x"></a>
                <h4>Copyright &copy; @DateTime.Now.Year Fadlon Real Estate Office</h4>
            </footer>
        </div>
        <hr />
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</body>
</html>

