@model IEnumerable<FadlonRealEstate.Models.Deal>

@{
    ViewBag.Title = "Deals";
}
@using FadlonRealEstate.Models

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Style/BrokersStyle/Index.css">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Fredoka+One|Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Righteous&display=swap" rel="stylesheet" />"
</head>

<body>
    <h2 style="margin-top:7rem; color:white;">Deals</h2>

    <form id="formSearch" method="post">
        <div class="row" id="SearchBox">
            <div class="col-md-2"> Deal Name</div>
            <div class="col-md-2"> <input type="text" id="name" name="name" style="color:black;"/></div>
            <div class="col-md-1">  </div>
        </div>

        <div class="row" id="SearchBox">
            <div class="col-md-2"> Deal type</div>
            <div class="col-md-2"> <input type="text" id="type" name="type"  style="color:black;" /></div>
            <div class="col-md-1"> <input type="submit" id="submitsearch" value="Search" style="color:black;" /></div>
        </div>
        <div class="row" id="SearchBox">
            <div class="col-md-2"> City</div>
            <div class="col-md-2"> <input type="text" id="city" name="city"  style="color:black;" /></div>
        </div>
    </form>

    <br />
    <button>
        @Html.ActionLink("Deals Type Grouping", "Group")
    </button>

    <br />
    <hr />
    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.CustomerFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property.PropertyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.PropertyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DealID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DealID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DealID })
                </td>
            </tr>
        }

    </table>
</body>