@model IEnumerable<FadlonRealEstate.Models.Property>
@{
    ViewBag.Title = "Gallery";
}
@using FadlonRealEstate.Controllers
@using FadlonRealEstate.Models

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="~/Content/Style/PropertiesStyle/Gallery.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    </head>


    <body>
        <h1 style="color:white; margin-top:5rem; margin-left:35rem;">Gallery</h1>

        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe  width="1130" height="300" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d673839.7478792366!2d34.29848328009378!3d32.08366297037763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d15333e3cd2d5%3A0x65729b3152c4d1c2!2sCenter%20District!5e1!3m2!1sen!2sil!4v1598664011118!5m2!1sen!2sil" frameborder="1" scrolling="yes" marginheight="10" marginwidth="0"></iframe>
            </div>
        </div>

        <fieldset style="">
            <legend>Search Property</legend>
            <div class="rehomes-search-form-area wow fadeInUp" data-wow-delay="200ms">
                <div class="container">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12 col-lg-10">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-3">
                                        <select name="type" id="type" class="form-control">
                                            <option value="">All Types</option>
                                            <option value="Commercial">Commercial</option>
                                            <option value="Office">Office</option>
                                            <option value="Villa">Villa</option>
                                            <option value="Apartment">Apartment</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3">
                                        <select name="city" id="city" class="form-control">
                                            <option value="">City</option>
                                            <option value="Tel-Aviv">Tel-Aviv</option>
                                            <option value="Bat-Yam">Bat-Yam</option>
                                            <option value="Rishon le Zion">Rishon le Zion</option>
                                            <option value="Jaffa">Jaffa</option>
                                            <option value="Holon">Holon</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3">
                                        <select name="feat" id="feat" class="form-control">
                                            <option value="">Feautres</option>
                                            <option value="Pool">Pool</option>
                                            <option value="Spa">Spa</option>
                                            <option value="Yard">Yard</option>
                                            <option value="Balcony">Balcony</option>
                                            <option value="Penthouse">Penthouse</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3">
                                        <select name="price" id="price" class="form-control">
                                            <option value="">Max Price</option>
                                            <option value="100000">100000$</option>
                                            <option value="1000000">1000000$</option>
                                            <option value="10000000">10000000$</option>
                                            <option value="100000000">100000000$</option>
                                            <option value="1000000000">1000000000$</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                <button type="submit" style="color:black;">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </fieldset>

        <br />
        <div class="w3-row-padding">
            @foreach (var item in Model)
            {
                <div class="w3-third w3-container w3-margin-bottom">
                    <button id="button" data-name="@item.city.ToString()" class="button" >
                        <img id="@item.Stock" src="~/Content/Resources/feature/" style="width: 357px; height: 250px;" class="w3-hover-opacity">
                    </button>
                    <div class="w3-container w3-black">
                        <h5><b>@Html.DisplayFor(modelItem => item.PropertyName) - @Html.DisplayFor(modelItem => item.PropertyType) in @Html.DisplayFor(modelItem => item.city)</b></h5>
                        <p><b>@Html.DisplayFor(modelItem => item.NumofRooms) Rooms & @Html.DisplayFor(modelItem => item.Feautres) for @Html.DisplayFor(modelItem => item.price)$</b></p>
                    </div>
                </div>
            }
        </div>

        <script>
            for (var i = 0; i < document.getElementsByClassName('w3-hover-opacity').length; i++) {
                var num = document.getElementsByClassName('w3-hover-opacity')[i].getAttribute('id');
                document.getElementsByClassName('w3-hover-opacity')[i].src += num + ".jpg";
            }
        </script>

        <script >
            for (var i = 0; i < document.getElementsByClassName('button').length; i++) {
                var button = document.getElementsByClassName('button');
                button[i].onclick = city;

                function city() {
                    document.getElementById('gmap_canvas').src = "";
                    var city = this.getAttribute('data-name');

                    if (city === "Bat-Yam")
                        document.getElementById('gmap_canvas').src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21073.68266893888!2d34.73040789904875!3d32.01332274737287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502b312412bb38b%3A0xb2961a65cc489c32!2sBat%20Yam!5e1!3m2!1sen!2sil!4v1598660513517!5m2!1sen!2sil";
                    if (city === "Tel-Aviv")
                        document.getElementById('gmap_canvas').src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84226.0521254463!2d34.72720511046305!3d32.08791223235956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4ca6193b7c1f%3A0xc1fb72a2c0963f90!2sTel%20Aviv-Yafo!5e1!3m2!1sen!2sil!4v1598660171925!5m2!1sen!2sil";
                    if (city === "Holon")
                        document.getElementById('gmap_canvas').src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42147.34082896053!2d34.74618956690626!3d32.01337603938199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502b4bb0c33bf39%3A0xfbdd79640525e72d!2sHolon!5e1!3m2!1sen!2sil!4v1598660666035!5m2!1sen!2sil";
                    if (city === "Rishon le Zion")
                        document.getElementById('gmap_canvas').src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42164.92479466209!2d34.743367166584456!3d31.975121192515584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502b43827ab66ff%3A0x17bcc54a571a7ab8!2sRishon%20LeTsiyon!5e1!3m2!1sen!2sil!4v1598660737746!5m2!1sen!2sil";
                    if (city === "Jaffa")
                        document.getElementById('gmap_canvas').src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21066.941818393225!2d34.73974784911003!3d32.04262529677424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4cba171f02dd%3A0xcf0da271e00f643e!2sJaffa%2C%20Tel%20Aviv-Yafo!5e1!3m2!1sen!2sil!4v1598660787710!5m2!1sen!2sil";
                }
            }
        </script>

  
        </body>

        <style>
            body, h2, h3, h4, h5, h6 {
                font-family: "Raleway", sans-serif
            }
        </style>
