@model IEnumerable<FadlonRealEstate.Models.Property>

@{
    ViewBag.Title = "Properties";
}
@using FadlonRealEstate.Models

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Style/BrokersStyle/Index.css">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Fredoka+One|Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Righteous&display=swap" rel="stylesheet" />"
</head>

<body>
    <h2 style="margin-top:7rem; color:white;">Properties</h2>

    <form id="formSearch" method="post">
        <div class="row" id="SearchBox">
            <div class="col-md-2"> Property Name</div>
            <div class="col-md-2"> <input type="text" value="@ViewBag.name" id="name" name="name" style="color:black;"/></div>
            <div class="col-md-1">  </div>
        </div>

        <div class="row" id="SearchBox">
            <div class="col-md-2"> Property type</div>
            <div class="col-md-2"> <input type="text" value="@ViewBag.type" id="type" name="type"  style="color:black;" /></div>
            <div class="col-md-1"> <input type="submit" id="submitsearch" value="Search" style="color:black;" /></div>
        </div>
        <div class="row" id="SearchBox">
            <div class="col-md-2"> Price</div>
            <div class="col-md-2"> <input type="text" value="@ViewBag.stock" id="stock" name="stock"  style="color:black;" /></div>
        </div>
    </form>

    <br />
    <button>
        @Html.ActionLink("Properties Type Grouping", "Group")
    </button>

    <br />
    <hr />
    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PropertyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumofRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feautres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumofRooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feautres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PropertyID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PropertyID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PropertyID })
                </td>
            </tr>
        }
    </table>
</body>