@model IEnumerable<FadlonRealEstate.Models.Broker>
@{
    ViewBag.Title = "Brokers";
}
@using FadlonRealEstate.Models
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Style/BrokersStyle/Index.css">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Fredoka+One|Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Righteous&display=swap" rel="stylesheet" />"
</head>

<body>
    <h1 style="margin-top:7rem; color:white;">Welcome @TempData["name"] !</h1>
    <h2>The Brokers</h2>

    <div style="margin-top:3rem;">
        <form id="formSearch" method="post">
            <div class="row" id="SearchBox">
                <div class="col-md-2"> Broker Name</div>
                <div class="col-md-2"> <input type="text" id="name" name="name" style="color:black;" /></div>
                <div class="col-md-1">  </div>
            </div>

            <div class="row" id="SearchBox">
                <div class="col-md-2">  Broker Password</div>
                <div class="col-md-2"> <input type="text" id="pass" name="pass" style="color:black;" /></div>
                <div class="col-md-1"> <input type="submit" id="submitsearch" value="Search" style="color:black;" /></div>
            </div>
        </form>
    </div>

    <hr />

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" style="background-color:black;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrokerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrokerPassword)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BrokerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrokerPassword)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BrokerID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BrokerID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BrokerID })
                </td>
            </tr>
        }

    </table>
</body>