@model IEnumerable<FadlonRealEstate.Models.Customer>

@{
    ViewBag.Title = "Customers";
}
@using FadlonRealEstate.Models
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Style/CustomersStyle/Home.css">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Fredoka+One|Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Righteous&display=swap" rel="stylesheet" />"
</head>

<body>
    <h2 style="margin-top:7rem; color:white;">Customers</h2>

    <form id="formSearch" method="post">
        <div class="row" id="SearchBox">
            <div class="col-md-2"> Customer First Name</div>
            <div class="col-md-2"> <input type="text" id="fname" name="fname" style="color:black;" /></div>
            <div class="col-md-1">  </div>
        </div>

        <div class="row" id="SearchBox">
            <div class="col-md-2">  Customer Last Name</div>
            <div class="col-md-2"> <input type="text" id="lname" name="lname" style="color:black;" /></div>
            <div class="col-md-1"> <input type="submit" id="submitsearch" value="Search" style="color:black;" /></div>
        </div>
        <div class="row" id="SearchBox">
            <div class="col-md-2"> Customer Email</div>
            <div class="col-md-2"> <input type="text" id="mail" name="mail" style="color:black;" /></div>
            <div class="col-md-1">  </div>
        </div>
        <div class="row" id="SearchBox">
            <div class="col-md-2"> Customer Phone Numer</div>
            <div class="col-md-2"> <input type="text" id="phone" name="phone" style="color:black;" /></div>
            <div class="col-md-1">  </div>
        </div>
    </form>

    <hr />

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CustomerID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID })
                </td>
            </tr>
        }

    </table>
</body>